# Gradle files
.gradle/
build/

# Stop ignoring these specific files even if they are in a build folder
!gradle-wrapper.jar

# NetBeans specific
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# OS specific
.DS_Store
thumbs.db
#ignore sudos Textdatei sie wird jedesmal neu erzeugt
sudos.txt
 
# jar Archive ignorieren
SudokuSolver.jar
SudokuSolver-First.jar
SudokuSolver-Print.jar
