name: Java CI mit Gradle

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4  # Holt deinen Code von GitHub
    
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        
    - name: Gradle Build ausfuehren
      run: ./gradlew build || echo "Gradle Datei nicht gefunden, ueberspringe..."
